{% extends "base.html" %}

{% block content %}

<h2>Change Password</h2>

<form method="POST">

    <div class="mb-3">

        <label>
            Old Password
        </label>

        <input
            type="password"
            name="old_password"
            class="form-control"
            required
        >

    </div>

    <div class="mb-3">

        <label>
            New Password
        </label>

        <input
            type="password"
            name="new_password"
            class="form-control"
            required
        >

    </div>

    <button
        class="btn btn-primary"
        type="submit"
    >
        Change Password
    </button>

</form>

{% endblock %}