{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<div class="row">

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Total</h4>
            <h2>{{ total_predictions }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Positive</h4>
            <h2>{{ positive_count }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Negative</h4>
            <h2>{{ negative_count }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h4>Neutral</h4>
            <h2>{{ neutral_count }}</h2>
        </div>
    </div>

</div>

<br>

<a href="/predict" class="btn btn-primary">
    Analyze Text
</a>

<a href="/history" class="btn btn-secondary">
    Prediction History
</a>

<a href="/analytics" class="btn btn-info">
    Analytics
</a>

<a href="/upload" class="btn btn-success">
    Upload File
</a>

<a href="/wordcloud" class="btn btn-warning">
    Word Cloud
</a>

<a href="/logout" class="btn btn-danger">
    Logout
</a>

{% if current_user.role == "admin" %}

<a href="/admin" class="btn btn-dark">
    Admin Dashboard
</a>

{% endif %}

<br><br>

<div class="card">

    <div class="card-body">

        <h4>Overall Positive Percentage</h4>

        <h2>{{ positive_percentage }}%</h2>

    </div>

</div>

<br>

<h3>Recent Analysis</h3>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>Date</th>

            <th>Sentiment</th>

            <th>Confidence</th>

        </tr>

    </thead>

    <tbody>

        {% for row in recent_results %}

        <tr>

            <td>{{ row.prediction_date }}</td>

            <td>{{ row.sentiment }}</td>

            <td>{{ row.confidence_score }}%</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}